# ignore everything
*

# except
!.gitconfig
!.gitignore
!.gitignore_global
!.myutils
!.sbtconfig
!.vimrc
!.ncmpcpp
!.ncmpcpp/config
!.LaunchAgents
!.LaunchAgents/*
!.m2
!.m2/nl.mwensveen.m2e.extras.antrun.config.xml

