[user]
	name = Rune Flobakk
	email = flobakk@gmail.com
[credential]
	helper = osxkeychain
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	symlinks = true
[color]
	ui = true
[include]
	path = /Users/rune/.gitconfig_github
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pager]
    diff = diff-so-fancy | less -RXF --tabs=4
    show = diff-so-fancy | less -RXF --tabs=4
[push]
	default = simple
[alias]
	ci = commit
	co = checkout
	st = status
	f = fetch
	pr = pull -r
	ll = log --pretty=\"%C(blue)%h %C(white)%s %C(auto)%d %C(green)[%ai (%ar)] %C(yellow)(%an)%C(reset)\" --graph --decorate --author-date-order
	su = submodule update --recursive
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[diff-so-fancy]
	markEmptyLines = false
